{% block styles %}
{% load static %}
<title>Reservas Mendoza</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>

<link rel="stylesheet" href="{% static 'restaurant/style.css' %}" type="text/css">
<script src="{% static 'restaurant/style.js' %}" type="text/javascript"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'restaurant/core/icon.png' %}"/>
{% endblock %}

{% block content %}
<div id="formWrapper">

<div id="form">

	<div align="center">
		<img src="{% static 'restaurant/images/logo.png' %}" height="200px" width="200px"  align="center" style="margin:50px"/>
	</div>

	<form action="{% url 'restaurant:login' %}" method="post">
		{% csrf_token %}
		<h3>RECUPERACIÓN</h3>
		<div class="form-item">
			<input type="text" name="username" id="email" placeholder="Usuario" class="form-style" autocomplete="off"/>
		</div>

		<div class="form-item">
			<input type="password" name="password1" placeholder="Nueva Contraseña" id="password1" class="form-style" />

		</div>
        <div class="form-item">
			<input type="password" name="password2" placeholder="Repetir Contraseña" id="password2" class="form-style" />

		</div>
		<div class="center">
			<input type="submit" class="login" value="Actualizar">
            <button type="button" class="login"><a style="color:white" href="{% url 'restaurant:index' %}">Cancelar</a></button>
		</div>


		<center >
			<br />
			<h4 ><small>Si desea ingresar a nuestra comunidad,</small></a></h4>
			<h4 ><small> envíe un mail a:</small></a></h4>
			<h4 ><small>stefania.g.a@outlook.com</small></a></h4>
			<div class="clear-fix"></div>
		</center>
	</form>

</div>
</div>
</body>

{% endblock %}
